body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background: rgb(198,30,223);
    background: linear-gradient(0deg, rgba(198,30,223,1) 0%, rgba(82,69,150,1) 50%, rgba(51,19,92,1) 100%);
    animation: gradient 5s infinite alternate;
    background-size: 200% 200%;
}

html {
    height: 100%;
    overflow: hidden;
    font-family: 'Signika', sans-serif;
}

.game--container{
    width: 60%;
    height: 500px;
    background-color:#111111;
    border-radius: 100px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:
    0 0 60px 30px #fff,  
    0 0 100px 60px #f0f, 
    0 0 140px 70px #0ff; 
    
}

.title--container {
    width: 80%;
    color: white;
    height: fit-content;
    text-align: center;
    border-width: 2px;
    font-size: 23px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.quiz--card {
    width: 80%;
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question--card{
    max-width: 60%;
    height: fit-content;
    background-color: #652EC7;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    border: #DE38C8 solid;
    border-width: 2px;
    font-size: 23px;
}

.options--card{
    min-width: 200px;
    height: 80px;
    background-color: #652EC7;
    background-image: linear-gradient(#FFD300, #FFD300);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border: #DE38C8 solid;
    border-width: 2px;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}

.options--card:hover{
    background-size: 100% 100%;
    color: black;
}

.options--container {
    width: 80%;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 30px;
    justify-content: center;
}



.question--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #652EC7;
    border: none;
    border-radius: 5px;
    border: #DE38C8 solid;
    border-width: 2px;
    width: 150px;
    background-color: #652EC7;
    background-image: linear-gradient(#FFD300, #FFD300);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.btn:hover{
    background-size: 100% 100%;
    color: black;
}

.description{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.end--container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.score{
    color: white;
    font-size: 45px;
    margin: 150px;
}

.neon--text {
    color: #fff;
    text-shadow:
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f0f,
        0 0 82px #f0f,
        0 0 92px #0ff,
        0 0 102px #0ff,
        0 0 151px #0ff;
    
        animation: flicker 1.5s infinite alternate;
  }

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f0f,
        0 0 82px #f0f,
        0 0 92px #0ff,
        0 0 102px #0ff,
        0 0 151px #0ff;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  @keyframes gradient {
    0% {
        background-position: top;
    }
    
    100% {
        background-position: bottom;
    }
}
  



